<div class="main-content">
   <div class="header bg-primary">
      <div class="container-fluid">
         <div class="header-body">
            <div class="row align-items-center py-4">
               <div class="col-lg-6 col-7">
                  <h6 class="h2 text-white d-inline-block mb-0">Change Password</h6>
                  <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                     <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item active"><a href="#">Change Password</a></li>

                     </ol>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-6">
            <div class="card">
               <div class="card-header border-0">
                  <h3 class="mb-0">Change Password</h3>
               </div>
               <div class="card-body">
                  <form [formGroup]="loginPassword">
                     <div class="form-group label-floating"
                        [ngClass]="displayFieldCss(loginPassword, 'currentPassword')">
                        <!-- <label class="control-label" for="currentPassword">Current {{wallet}} Password
                           <span class="star">*</span>
                        </label> -->
                        <input type="password" id="currentPassword" class="form-control"
                           formControlName="currentPassword" pattern="" placeholder="Current Password Password">
                        <span class="material-input"></span>
                        <app-field-error-display [displayError]="isFieldValid(loginPassword, 'currentPassword')"
                           errorMsg="Current Password is required">
                        </app-field-error-display>
                     </div>
                     <div class="form-group label-floating" [ngClass]="displayFieldCss(loginPassword, 'password')">
                        <!-- <label class="control-label" for="password">New {{wallet}} Password
                           <span class="star">*</span>
                        </label> -->
                        <input type="password" id="password" class="form-control" formControlName="password"
                           placeholder="New Password Password">
                        <span class="material-input"></span>
                        <app-field-error-display [displayError]="isFieldValid(loginPassword, 'password')"
                           errorMsg="Password length should be greater or equal to 4 and less than 20">
                        </app-field-error-display>
                     </div>

                     <div class="form-group label-floating"
                        [ngClass]="displayFieldCss(loginPassword, 'confirmPassword')">
                        <!-- <label for="confirmPassword" class="control-label">Confirm {{wallet}} Password
                           <span class="star">*</span>
                        </label> -->
                        <input type="password" class="form-control" id="confirmPassword"
                           placeholder="Confirm Password Password" formControlName="confirmPassword">
                        <span class="material-input"></span>
                        <app-field-error-display [displayError]="isFieldValid(loginPassword, 'confirmPassword')"
                           errorMsg="Passwords mismatch. Try again!">
                        </app-field-error-display>
                     </div>
                     <!-- <div class="category form-category">
                        <span class="star">*</span> Required fields
                     </div> -->
                     <div class="form-footer text-left">
                        <div class="form-group">
                           <button type="submit" class="btn btn-primary" (click)="onUpdate('login')">Update</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="card">
               <div class="card-header border-0">
                  <h3 class="mb-0">Change Transaction Password</h3>
               </div>
               <div class="card-body">
                  <form [formGroup]="walletPassword">
                     <div class="form-group label-floating"
                        [ngClass]="displayFieldCss(walletPassword, 'currentPassword')">
                        <!-- <label class="control-label" for="currentPassword">Current {{wallet}} Password
                           <span class="star">*</span>
                        </label> -->
                        <input type="password" id="currentPassword" class="form-control"
                           formControlName="currentPassword" pattern="" placeholder="Current Password Password">
                        <span class="material-input"></span>
                        <app-field-error-display [displayError]="isFieldValid(walletPassword, 'currentPassword')"
                           errorMsg="Current Password is required">
                        </app-field-error-display>
                     </div>
                     <div class="form-group label-floating" [ngClass]="displayFieldCss(walletPassword, 'password')">
                        <!-- <label class="control-label" for="password">New {{wallet}} Password
                           <span class="star">*</span>
                        </label> -->
                        <input type="password" id="password" class="form-control" formControlName="password"
                           placeholder="New Password Password">
                        <span class="material-input"></span>
                        <app-field-error-display [displayError]="isFieldValid(walletPassword, 'password')"
                           errorMsg="Password length should be greater or equal to 4 and less than 20">
                        </app-field-error-display>
                     </div>

                     <div class="form-group label-floating"
                        [ngClass]="displayFieldCss(walletPassword, 'confirmPassword')">
                        <!-- <label for="confirmPassword" class="control-label">Confirm {{wallet}} Password
                           <span class="star">*</span>
                        </label> -->
                        <input type="password" class="form-control" id="confirmPassword"
                           placeholder="Confirm Password Password" formControlName="confirmPassword">
                        <span class="material-input"></span>
                        <app-field-error-display [displayError]="isFieldValid(walletPassword, 'confirmPassword')"
                           errorMsg="Passwords mismatch. Try again!">
                        </app-field-error-display>
                     </div>
                     <!-- <div class="category form-category">
                        <span class="star">*</span> Required fields
                     </div> -->
                     <div class="form-footer text-left">
                        <div class="form-group">
                           <button type="submit" class="btn btn-primary" (click)="onUpdate('transaction')">Update</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <!-- <div class="col-md-6 m-b-30">
            <div class="card">
               <div class="card-body">
                  <h4 class="card-title">Change Transaction Password</h4>
                  <div class="card-body">
                     <form [formGroup]="walletPassword">
                        <div class="form-group label-floating"
                           [ngClass]="displayFieldCss(walletPassword, 'currentPassword')">
                           <label class="control-label" for="currentPassword2">Current Transaction Password
                              <span class="star">*</span>
                           </label>
                           <input type="password" id="currentPassword2" class="form-control"
                              formControlName="currentPassword" pattern="">
                           <app-field-error-display [displayError]="isFieldValid(walletPassword, 'currentPassword')"
                              errorMsg="Current Password is required">
                           </app-field-error-display>
                           <span class="material-input"></span>
                        </div>
      
                        <div class="form-group label-floating" [ngClass]="displayFieldCss(walletPassword, 'password')">
                           <label class="control-label" for="password2">New Transaction Password
                              <span class="star">*</span>
                           </label>
                           <input type="password" id="password2" class="form-control" formControlName="password">
                           <app-field-error-display [displayError]="isFieldValid(walletPassword, 'password')"
                              errorMsg="Enter a valid password.">
                           </app-field-error-display>
                        </div>
      
                        <div class="form-group label-floating"
                           [ngClass]="displayFieldCss(walletPassword, 'confirmPassword')">
                           <label class="control-label" for="confirmPassword2">Confirm Transaction Password
                              <span class="star">*</span>
                           </label>
                           <input type="password" class="form-control" id="confirmPassword2"
                              formControlName="confirmPassword">
                           <app-field-error-display [displayError]="isFieldValid(walletPassword, 'confirmPassword')"
                              errorMsg="Passwords mismatch. Try again!">
                           </app-field-error-display>
                        </div>
      
                        <div class="category form-category">
                           <span class="star">*</span> Required fields
                        </div>
                        <div class="form-footer text-right">
                           <div class="form-group">
                              <button type="submit" class="btn btn-primary"
                                 (click)="onUpdate('transaction')">Update</button>
                           </div>
                        </div>
                     </form>
      
                  </div>
               </div>
            </div>
         </div> -->
      </div>
   </div>
</div>